# Node.js
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directory
lib-cov

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Testing
coverage

# Production
build/

# Local development
.env
